@media (min-width: 1401px) and (max-width: 1920px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #header_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        transition: background;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: var(--header-height) 1rem;
        z-index: 10;
    }

    #header_nav.scrolled {
        background: #0062A7;
    }


    .nav_text {
        padding: 10px;
        transition: padding 0.5s ease;
    }

    .nav_text.scrolled {
        padding: 8px;
    }

    nav.nav_text {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1.5rem;
        transition: font-size 0.5s ease;
        padding: 0px 20px;
    }

    nav.nav_text.scrolled {
        font-size: 1.25rem;
    }

    #header_nav p {
        color: #E1F3FD;
        font-family: var(--font-lexend-800);
        font-weight: 800;
        font-size: 3rem;
        transition: font-size 0.5s ease;
    }

    #header_nav p.scrolled {
        font-size: 2.75rem;
    }

    #nav_logo {
        text-decoration: none;
        background-color: transparent;
        transition: none;
    }

    .nav_text a {
        color: #E1F3FD;
        padding: 0.7rem 1.5rem;
        margin: 0 3px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border-radius: 12px;
    }

    .nav_text a:hover {
        background-color: #71B3DD;
    }

    #thumb {
        background: rgb(0, 81, 146);
        background: linear-gradient(180deg, rgba(0, 81, 146, 1) 0%, rgba(0, 114, 188, 1) 100%);
        height: 100vh;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: fit-content;
    }

    #thumb_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #thumb_text h1 {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-size: 4.5rem;
        line-height: 150%;
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 2.4vh;
    }

    #thumb_text p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 150%;
        text-align: center;
    }

    #thumb_text a {
        background-color: #E1F3FD;
        color: #0062A7;
        font-family: var(--font-lexend-400);
        font-weight: 600;
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 12px;
        margin-top: 3.2vh;
        text-decoration: none;
    }

    #thumb_more {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.25rem;
    }

    #thumb_more p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1.25rem;
        padding: 10px;
        text-align: center;
    }

    #thumb_more a {
        text-decoration: none;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #header_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        transition: background;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: var(--header-height) 1rem;
        z-index: 10;
    }

    #header_nav.scrolled {
        background: #0062A7;
    }


    .nav_text {
        padding: 10px;
        transition: padding 0.5s ease;
    }

    .nav_text.scrolled {
        padding: 8px;
    }

    nav.nav_text {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1.25rem;
        transition: font-size 0.5s ease;
        padding: 0px 20px;
    }

    nav.nav_text.scrolled {
        font-size: 1rem;
    }

    #header_nav p {
        color: #E1F3FD;
        font-family: var(--font-lexend-800);
        font-weight: 800;
        font-size: 3rem;
        transition: font-size 0.5s ease;
    }

    #header_nav p.scrolled {
        font-size: 2.75rem;
    }

    #nav_logo {
        text-decoration: none;
        background-color: transparent;
        transition: none;
    }

    .nav_text a {
        color: #E1F3FD;
        padding: 0.7rem 1.5rem;
        margin: 0 3px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border-radius: 12px;
    }

    .nav_text a:hover {
        background-color: #71B3DD;
    }

    #thumb {
        background: rgb(0, 81, 146);
        background: linear-gradient(180deg, rgba(0, 81, 146, 1) 0%, rgba(0, 114, 188, 1) 100%);
        height: 100vh;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: fit-content;
    }

    #thumb_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #thumb_text h1 {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-size: 3.5rem;
        line-height: 150%;
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 2.4vh;
    }

    #thumb_text p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;
        text-align: center;
    }

    #thumb_text a {
        background-color: #E1F3FD;
        color: #0062A7;
        font-family: var(--font-lexend-400);
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 12px;
        margin-top: 3.2vh;
        text-decoration: none;
    }

    #thumb_more {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.25rem;
    }

    #thumb_more p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }

    #thumb_arrow {
        height: 2.5rem;
        width: 2.5rem;
    }

    #thumb_more a {
        text-decoration: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #header_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        transition: background;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: var(--header-height) 1rem;
        z-index: 10;
    }

    #header_nav.scrolled {
        background: #0062A7;
    }


    .nav_text {
        padding: 10px;
        transition: padding 0.5s ease;
    }

    .nav_text.scrolled {
        padding: 8px;
    }

    nav.nav_text {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1.25rem;
        transition: font-size 0.5s ease;
        padding: 0px 20px;
    }

    nav.nav_text.scrolled {
        font-size: 1rem;
    }

    #header_nav p {
        color: #E1F3FD;
        font-family: var(--font-lexend-800);
        font-weight: 800;
        font-size: 3rem;
        transition: font-size 0.5s ease;
    }

    #header_nav p.scrolled {
        font-size: 2.75rem;
    }

    #nav_logo {
        text-decoration: none;
        background-color: transparent;
        transition: none;
    }

    .nav_text a {
        color: #E1F3FD;
        padding: 0.7rem 1.5rem;
        margin: 0 3px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border-radius: 12px;
    }

    .nav_text a:hover {
        background-color: #71B3DD;
    }

    #thumb {
        background: rgb(0, 81, 146);
        background: linear-gradient(180deg, rgba(0, 81, 146, 1) 0%, rgba(0, 114, 188, 1) 100%);
        height: 100vh;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: fit-content;
    }

    #thumb_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #thumb_text h1 {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-size: 3.5rem;
        line-height: 150%;
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 2.4vh;
    }

    #thumb_text p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;
        text-align: center;
    }

    #thumb_text a {
        background-color: #E1F3FD;
        color: #0062A7;
        font-family: var(--font-lexend-400);
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 12px;
        margin-top: 3.2vh;
        text-decoration: none;
    }

    #thumb_more {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.25rem;
    }

    #thumb_more p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }

    #thumb_arrow {
        height: 2.5rem;
        width: 2.5rem;
    }

    #thumb_more a {
        text-decoration: none;
    }
}

@media (min-width: 541px) and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #header_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        transition: background;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: var(--header-height) 1rem;
        z-index: 10;
    }

    #header_nav.scrolled {
        background: #0062A7;
    }


    .nav_text {
        padding: 10px;
        transition: padding 0.5s ease;
    }

    .nav_text.scrolled {
        padding: 8px;
    }

    nav.nav_text {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1.25rem;
        transition: font-size 0.5s ease;
        padding: 0px 20px;
    }

    nav.nav_text.scrolled {
        font-size: 1rem;
    }

    #header_nav p {
        color: #E1F3FD;
        font-family: var(--font-lexend-800);
        font-weight: 800;
        font-size: 3rem;
        transition: font-size 0.5s ease;
    }

    #header_nav p.scrolled {
        font-size: 2.75rem;
    }

    #nav_logo {
        text-decoration: none;
        background-color: transparent;
        transition: none;
    }

    .nav_text a {
        color: #E1F3FD;
        padding: 0.7rem 1.5rem;
        margin: 0 3px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border-radius: 12px;
    }

    .nav_text a:hover {
        background-color: #71B3DD;
    }

    #thumb {
        background: rgb(0, 81, 146);
        background: linear-gradient(180deg, rgba(0, 81, 146, 1) 0%, rgba(0, 114, 188, 1) 100%);
        height: 100vh;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: fit-content;
    }

    #thumb_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #thumb_text h1 {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-size: 2.75rem;
        line-height: 150%;
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 2.4vh;
    }

    #thumb_text p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 150%;
        text-align: center;
    }

    #thumb_text a {
        background-color: #E1F3FD;
        color: #0062A7;
        font-family: var(--font-lexend-400);
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 12px;
        margin-top: 3.2vh;
        text-decoration: none;
    }

    #thumb_more {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.25rem;
    }

    #thumb_more p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }

    #thumb_arrow {
        height: 2.5rem;
        width: 2.5rem;
    }

    #thumb_more a {
        text-decoration: none;
    }
}

@media (max-width: 540px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #header_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        transition: background;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: var(--header-height) 0.25rem;
        z-index: 10;
    }

    #header_nav.scrolled {
        background: #0062A7;
    }


    .nav_text {
        padding: 5px;
        transition: padding 0.5s ease;
    }

    .nav_text.scrolled {
        padding: 2px;
    }

    nav.nav_text {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 0.75rem;
        transition: font-size 0.5s ease;
        padding: 0px 5px;
    }

    nav.nav_text.scrolled {
        font-size: 0.75rem;
    }

    #header_nav p {
        color: #E1F3FD;
        font-family: var(--font-lexend-800);
        font-weight: 800;
        font-size: 2rem;
        transition: font-size 0.5s ease;
    }

    #header_nav p.scrolled {
        font-size: 1.5rem;
    }

    #nav_logo {
        text-decoration: none;
        background-color: transparent;
        transition: none;
    }

    .nav_text a {
        color: #E1F3FD;
        padding: 0.7rem 1.5rem;
        margin: 0 3px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        border-radius: 12px;
    }

    .nav_text a:hover {
        background-color: #71B3DD;
    }

    #thumb {
        background: rgb(0, 81, 146);
        background: linear-gradient(180deg, rgba(0, 81, 146, 1) 0%, rgba(0, 114, 188, 1) 100%);
        height: 100vh;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: fit-content;
    }

    #thumb_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #thumb_text h1 {
        color: #E1F3FD;
        font-family: var(--font-lexend-400);
        font-size: 2.75rem;
        line-height: 150%;
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
        margin-bottom: 2.4vh;
    }

    #thumb_text p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 150%;
        text-align: center;
    }

    #thumb_text a {
        background-color: #E1F3FD;
        color: #0062A7;
        font-family: var(--font-lexend-400);
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 12px;
        margin-top: 3.2vh;
        text-decoration: none;
    }

    #thumb_more {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.25rem;
    }

    #thumb_more p {
        color: #ffffffb3;
        font-family: var(--font-lexend-500);
        font-weight: 500;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }

    #thumb_arrow {
        height: 2.5rem;
        width: 2.5rem;
    }

    #thumb_more a {
        text-decoration: none;
    }
}