@media (min-width: 1401px) and (max-width: 1920px) {
    .form_card {
        background-color: #2D2D2D;
        width: 41.5vw;
        height: fit-content;
        border-radius: 24px;
    }

    .form_title {
        padding: 3rem 3rem 0;
    }

    .form_title h1 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 3rem !important;
        margin-top: 2.3rem;
    }

    .form_title img {
        position: relative;
        left: 8px;
        top: 14px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form_sec {
        padding: 3rem 3rem 0;
    }

    .form_sec span {
        color: #db001d;
        font-family: var(--font-lexend-400);
        font-weight: 400;
    }

    .form_input {
        width: calc(36.5vw - 3rem);
        height: calc(3.8vw - 3rem);
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1.25rem;
        border-radius: 24px;
        padding: 1.5rem;
        border: transparent;
    }

    .message {
        height: 12.8vw;
        resize: none;
    }

    .form_card h3 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .form_card button {
        background-color: #0072BC;
        color: #FFFFFF;
        width: 36.5vw;
        height: 3.5vw;
        margin: 3.5rem auto 3rem;
        border-radius: 12px;
        border: transparent;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .form_card {
        background-color: #2D2D2D;
        width: fit-content;
        height: fit-content;
        border-radius: 24px;
    }

    .form_title {
        padding: 3rem 3rem 0;
        width: fit-content;
    }

    .form_title h1 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 2rem !important;
        margin-top: 2.3rem;
    }

    .form_title img {
        width: auto;
        height: 2.5rem;
        position: relative;
        left: 8px;
        top: 14px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form_sec {
        padding: 3rem 3rem 0;
        width: fit-content;
    }

    .form_sec span {
        color: #db001d;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        width: fit-content;
    }

    .form_input {
        width: calc(36.5vw - 3rem);
        height: calc(3.8vw - 3rem);
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1rem;
        border-radius: 24px;
        padding: 1.5rem;
        border: transparent;
    }

    .message {
        width: calc(36.5vw - 3rem);
        height: 12.8vw;
        resize: none;
    }

    .form_card h3 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        width: fit-content;
    }

    .form_card button {
        background-color: #0072BC;
        color: #FFFFFF;
        width: 36.5vw;
        height: 3.5vw;
        margin: 3.5rem auto 3rem;
        border-radius: 12px;
        border: transparent;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.5rem;
    }
}

@media (min-width: 854px) and (max-width: 1024px) {
    .form_card {
        background-color: #2D2D2D;
        width: fit-content;
        height: fit-content;
        border-radius: 24px;
    }

    .form_title {
        padding: 3rem 3rem 0;
        width: fit-content;
    }

    .form_title h1 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 2rem !important;
        margin-top: 2.3rem;
    }

    .form_title img {
        width: auto;
        height: 2.5rem;
        position: relative;
        left: 8px;
        top: 14px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form_sec {
        padding: 3rem 3rem 0;
        width: fit-content;
    }

    .form_sec span {
        color: #db001d;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        width: fit-content;
    }

    .form_input {
        width: calc(36.5vw - 3rem);
        height: calc(3.8vw - 3rem);
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1rem;
        border-radius: 24px;
        padding: 1.5rem;
        border: transparent;
    }

    .message {
        width: calc(36.5vw - 3rem);
        height: 12.8vw;
        resize: none;
    }

    .form_card h3 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        width: fit-content;
    }

    .form_card button {
        background-color: #0072BC;
        color: #FFFFFF;
        width: 34.5vw;
        height: 3.5vw;
        margin: 3.5rem auto 3rem;
        border-radius: 12px;
        border: transparent;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1rem;
    }
}

@media (max-width: 853px) {
    .form_card {
        background-color: #2D2D2D;
        width: fit-content;
        height: fit-content;
        border-radius: 24px;
    }

    .form_title {
        padding: 3rem 3rem 0;
        height: fit-content;
        width: calc(100% - 6rem);
    }

    .form_title h1 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.5rem !important;
        margin-top: 2.3rem;
        width: min-content;
    }

    .form_title img {
        width: auto;
        height: 2.5rem;
        position: relative;
        left: 8px;
        top: 14px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form_sec {
        padding: 3rem 3rem 0;
        width: fit-content;
    }

    .form_sec span {
        color: #db001d;
        font-family: var(--font-lexend-400);
        font-weight: 400;
        width: fit-content;
    }

    .form_input {
        width: calc(35.5vw - 3rem);
        height: calc(3.8vw - 3rem);
        font-family: var(--font-lexend-400);
        font-weight: 400;
        font-size: 1rem;
        border-radius: 12px;
        padding: 1.5rem;
        border: transparent;
    }

    .message {
        height: 12.8vw;
        resize: none;
    }

    .form_card h3 {
        color: #FFFFFF;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        width: fit-content;
    }

    .form_card button {
        background-color: #0072BC;
        color: #FFFFFF;
        width: 34.5vw;
        height: 4.25vw;
        margin: 3.5rem auto 3rem;
        border-radius: 12px;
        border: transparent;
        font-family: var(--font-lexend-600);
        font-weight: 600;
        font-size: 1rem;
    }
}